# For database_stuff
database_stuff/*.sql
database_stuff/*.db
database_stuff/*.sq3
database_stuff/*.env
database_stuff/__pycache__/

# For frontend_stuff
frontend_stuff/node_modules/
frontend_stuff/dist/
frontend_stuff/*.log
frontend_stuff/*.env

# System files
*.DS_Store
Thumbs.db
*.tmp
*.bak
.DS_Store
