@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&family=Montserrat:wght@400;600&family=Inter:wght@400;600&family=Arial&display=swap');

body,
p,
h3,
button,
form {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}

header,
h1,
h2,
h3,
p,
.logo-name,
input {
  font-family: 'Work Sans', 'Montserrat', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 6px;
  font-size: 0.9em;
  cursor: pointer;
  transition: 0.2s ease;
}

button.primary {
  background-color: #ae0e1d;
  border: 3px solid #ae0e1d;
  color: white;
}

button.primary:hover {
  background-color: #ed1b2f;
  border: 3px solid #ed1b2f;
}

button.secondary {
  background-color: transparent;
  border: 3px solid #e4e4e4;
  color: #424242;
}

button.secondary:hover {
  background-color: #e4e4e4;
  color: #ed1b2f;
}

button:disabled {
  border: 3px solid #e4e4e4;
  background-color: #e4e4e4;
  color: #aaa;
  cursor: not-allowed;
}

button:disabled:hover {
  border: 3px solid #e4e4e4;
  background-color: #e4e4e4;
  color: #aaa;
  cursor: not-allowed;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 11px;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
  height: 44px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #424242;
}

.nav-logo-img {
  width: 40px;
  height: auto;
  object-fit: contain;
  margin-right: 10px;
}

.logo-name {
  font-size: 1.2em;
  font-weight: bold;
}

.profile-btn {
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.profile-btn:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.profile-btn .user-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.user-icon {
  border-radius: 50%;
}

.dropdown-menu {
  display: none;
  background-color: white;
  border: 1px solid #e4e4e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 1000;
  margin-right: 20px;
}

.dropdown-item {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #424242;
  z-index: 1001;
  font-size: 0.9em;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #e4e4e4;
  color: #ed1b2f;
}

.profile-btn:hover+.dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  padding: 10px;
}

.hamburger-menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  right: -100%;
  height: 100%;
  width: 85%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1001;
}

.hamburger-menu.open {
  right: 0;
}

.hamburger-menu .menu-header {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.hamburger-menu a {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #f1f1f1;
}

.hamburger-menu a:hover {
  background-color: #f1f1f1;
}

@media screen and (max-width: 820px) {
  .hamburger {
    display: block;
  }

  .nav-buttons.public {
    display: block;
  }

  .nav-buttons:not(.public) {
    display: none;
  }
}