@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&family=Montserrat:wght@400;600&family=Inter:wght@400;600&family=Arial&display=swap');
body, p, button, form {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}

header, h1, h2, h3, .logo-name {
  font-family: 'Work Sans', 'Montserrat', Arial, sans-serif; 
}

.logo-name {
  font-size: 1.2em;
  font-weight: bold;
}

button {
  padding: 10px;
  font-weight: 500 ;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}


button.primary {
  background-color: #ae0e1d;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

button.primary:hover {
  background-color: #ed1b2f;
}

button.secondary {
  background-color: transparent;
  border: 3px solid #e4e4e4;
  color: #424242;
  border-radius: 5px;
  padding: 4px 7px;
}

button.secondary:hover {
  background-color: #e4e4e4;
  border: 3px solid #e4e4e4;
  color: #424242;
}

/* disabled button for when fields are not filled */
button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}
